body {
  background-color: rgb(237,227,212);
}

div.clear {
  clear: both;
  height: 1px;
}

.site-logo {
  border: 1px solid rgb(169,102,5);
}

.current-campaign, .site-logo {
  margin-top: 40px;
}

.subscribe-section {
  margin: 180px 0;
}

.footer {
  margin-top: 40px;
}

